In [1]:
#github link: https://github.com/tahsansamin/group-project-41-dsci.git
library(tidyverse)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.1     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.1
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

## DSCI 100 Group Project
Group members(UBC student number): Tahsan Samin (15680358), ...., ...., ....

### Title: ......

### Introduction

### Methods and Results

#### Loading and downloading dataset

In [4]:
players <- read_csv("https://raw.githubusercontent.com/tahsansamin/group-project-41-dsci/refs/heads/main/players.csv")
is_na <- sum(is.na(players))
is_na

Rows: 196 Columns: 7
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (4): experience, hashedEmail, name, gender
dbl (2): played_hours, Age
lgl (1): subscribe

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

[1] 2

The NA values will be removed because they are so few and it is unlikely to have an effect on the data

In [5]:
players <- drop_na(players)
is_na_now <- sum(is.na(players))

In [7]:
is_na_now

[1] 0

In [9]:
head(players)

  experience subscribe
1 Pro         TRUE
2 Veteran     TRUE
3 Veteran    FALSE
4 Amateur     TRUE
5 Regular     TRUE
6 Amateur     TRUE
  hashedEmail                                                      played_hours
1 f6daba428a5e19a3d47574858c13550499be23603422e6a0ee9728f8b53e192d 30.3
2 f3c813577c458ba0dfef80996f8f32c93b6e8af1fa939732842f2312358a88e9  3.8
3 b674dd7ee0d24096d1c019615ce4d12b20fcbff12d79d3c5a9d2118eb7ccbb28  0.0
4 23fe711e0e3b77f1da7aa221ab1192afe21648d47d2b4fa7a5a659ff443a0eb5  0.7
5 7dc01f10bf20671ecfccdac23812b1b415acd42c2147cb0af4d48fcce2420f3e  0.1
6 f58aad5996a435f16b0284a3b267f973f9af99e7a89bee0430055a44fa92f977  0.0
  name      gender Age
1 Morgan    Male    9
2 Christian Male   17
3 Blake     Male   17
4 Flora     Female 21
5 Kylie     Male   21
6 Adrian    Female 17

The next step is to select only the relevant target variable and predictor variables (number of hours played, age and subscription status)

In [11]:
players <- players |> select(played_hours, Age, subscribe)
head(players)
# next steps for wrangling: class imbalance in subscribe, outliers in played_hours

  played_hours Age subscribe
1 30.3          9   TRUE
2  3.8         17   TRUE
3  0.0         17  FALSE
4  0.7         21   TRUE
5  0.1         21   TRUE
6  0.0         17   TRUE

### Discussion

### References(optional)