In [ ]:
#install.packages(c("tidymodels"))
#install.packages("kknn")

library(tidyverse)
library(repr)
library(tidymodels)
library(themis)

## DSCI 100 Group Project
Group members(UBC student number): Tahsan Samin (15680358), ...., ...., ....

### Title: ......

### Introduction

### Methods and Results
For our project KNN classification will be used because our selected player variables (age of the players and number of hours played by the player) are numerical and our target variable (subscription status to a game related newspaper) is categorical. The players dataset was used instead of the sessions dataset because the former has all the relevant predictor variables and the target variable. From the players dataset the rows with NA values will be removed and only the number of hours played, the age of the player and the subscription status variables will be selected. The data will be split into 75% training data and 25% testing data. 5 fold cross validation with a range of Ks will be used to select the model based on the highest cross validation accuracy. We will use 5 folds because of computational efficiency.
#### Loading and wrangling the dataset into a tidy format
The dataset already satisfies all criteria for being tidy. During the exploratory data analysis, we noticed that two of the observations had NA values. We decided to drop the two observations with NA values because they are so few that it is unlikely to cause loss of valuable information. The two NA observations are NA in the age column. Looking at their reading for the number of hours played(0.1 hours and 0.2 hours), the readings do not appear to be extreme cases, further proving that dropping NA values would not cause loss of valuable data. We will also change the subscription status into the factor data type to make it suitable for KNN classification.

#### Loading and wrangling the dataset into a tidy format
The dataset already satisfies all criteria for being tidy. We noticed that two of the observations had NA values. We decided to drop the two observations with NA values because they are so few that it is unlikely to cause loss of valuable information. The two NA observations are NA in the age column. Looking at their reading for the number of hours played, the readings do not appear to be extreme cases (0.1 hours and 0.2 hours), further proving that dropping NA values would not cause loss of valuable data.

In [ ]:
players <- read_csv("https://raw.githubusercontent.com/tahsansamin/group-project-41-dsci/refs/heads/main/players.csv")
is_na <- sum(is.na(players))
is_na

In [ ]:
narows <- players[!complete.cases(players),]
narows

In [ ]:
players <- drop_na(players)

The next step is to only select the number of hours played column, the age column and the subscription status column.

In [ ]:

# ideas for further wrangling: class imbalance in subscribe, outliers in played_hours

### Discussion

### References(optional)